[submodule "deps/logger"]
	path = deps/logger
	url = https://github.com/embear/logger.git
	ignore = all
[submodule "deps/argtable3"]
	path = deps/argtable3
	url = https://github.com/argtable/argtable3.git
	ignore = all
[submodule "deps/json-c"]
	path = deps/json-c
	url = https://github.com/json-c/json-c.git
	ignore = all
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	ignore = all
[submodule "deps/lmdb"]
	path = deps/lmdb
	url = https://github.com/LMDB/lmdb.git
	ignore = all
[submodule "deps/entangled"]
	path = deps/entangled
	url = https://github.com/iotaledger/entangled.git
	ignore = all
